# ===== Keil MDK 构建产物 =====
MDK-ARM/DebugConfig/
MDK-ARM/Listings/
MDK-ARM/Objects/
MDK-ARM/RTE/
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvoptx
MDK-ARM/*.uvprojx.bak
MDK-ARM/JLinkLog.txt
*.o
*.d
*.crf
*.axf
*.hex
*.bin
*.map
*.lst
*.dep
*.bak

# ===== VS Code =====
.vscode/
*.code-workspace

# ===== ESP32 构建产物 =====
Esp32/SmartHome_ESP32/build/
Esp32/SmartHome_ESP32/sdkconfig.old
Esp32/SmartHome_ESP32/managed_components/
Esp32/SmartHome_ESP32/dependencies.lock

# ===== 系统文件 =====
Thumbs.db
Desktop.ini
.DS_Store
